/* ========================================================= Main ===*/
html, body{
	background-color: #DCDFE0;
	color: #4A4A4A;
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 750px;
}
/* ========================================================= Header ===*/
header{
	text-align: center;
}
header h1{
	color: #D62035;
	font-size: 120px;
	font-weight: 800;
	text-transform: uppercase;
}
header p{
	font-size: 18px;
}
/* ========================================================= Sections ===*/
section{
	margin-bottom: 24px;
}
section h2{
	font-size: 22px;
}
section h2 span{
	border: 2px solid #4A4A4A;
	border-radius: 30px;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	height: 34px;
	padding: 5px;
	text-align: center;
	width: 34px;
}
section .content{
	background-color: #fff;
	border-radius: 3px;
	padding: 20px;
}
section .btn{
	text-align: center;
}
.one{

}
.two{

}
.two img{
	display: block;
	margin: 0 auto;
}
.three .form-horizontal .control-label{
	padding-top: 12px;
}
.three p{
	font-size: 18px;
	margin: 8px 0 4px;
}
/* ========================================================= Extras ===*/
hr{
	border-top-width: 2px;
}